<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div class="mod-product-wrap">
			<div class="col-md-24 pro-base-info">
				<div class="pro-rate">
					<div class="rate"><span class="fs-40">11.10<em class="fs-24">%</em></span></div><label class="c-bce2f7">预期年化</label></div>
				<div class="row attribute">
					<ul class="clearfix">
						<li class="col-md-12 txtc"><span>221,800.00</span><br><label>剩余金额(元)</label></li>
						<li class="col-md-12 txtc"><span>24个月</span><br><label>服务期限</label></li>
					</ul>
				</div>
				<div class="pro-progress">
					<div class="progress-inner transition" style="width: 56%;"><span class="location"><i class="text">已售56%</i></span></div>
				</div>
			</div>
			<div class="pro-quota">
				<div class="col-md-24 clearfix">
					<label class="col-md-14 txtl c-999 fs-14">项目价值<em class="c-333">500,000.00</em>元</label>
					<span class="col-md-10 txtr c-999 fs-12 nowrap"></span>
				</div>
			</div>
		</div>
	</body>

</html>